@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (min-width:400px){
	body {
		height: 100%;
		margin: 0;
	}
	.header {
		background-image: url('/static/images/Stock_Market_Background5.png');
		background-size: cover;
		height: 50vh;
		min-height: 400px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		color: #FFFFFF;
	}
	h1 {
		font-size: 55px;
		font-family: Sans-Serif;
		color: #FFFFFF;
	}
	.global-search {
		text-align:center;
		padding-top: 10px;
	}
	.category-list{
		text-align:center;
		display: inline-block;
		padding:0px;
		max-width:25%;
	}
	.form-control {
		width:500px;
		height: 40px;
		display:inline-block;
	}
	.topcorner{
		top: .5%;
		right: .5%;
		color: #FFFFFF;
		text-align: right;
	}
	.scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
	}
	.loader {
		border: 16px solid #f3f3f3; /* Light grey */
		border-top: 16px solid #3498db; /* Blue */
		border-radius: 50%;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		animation: spin 1.5s linear infinite;
	}
	@keyframes spin {
		0% { transform: rotate(0deg);  }
		100% { transform: rotate(360deg);  }

	}
	.results {
		position: absolute;
		margin: auto;
		display: inline-block;
	}
	.ul-results {
		list-style-type: none;
		width: 70%;
		margin: auto;
	}

	.h3-results {
		font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
	}

	#results li img {
		float: left;
		margin: 0 15px 0 0;
	}

	#results li p {
		font: 200 12px/1.5 Georgia, Times New Roman, serif;
	}

	.li-results {
		padding: 10px;
		overflow: auto;
	}

	.li-results:hover {
		background: #eee;
		cursor: pointer;
	}

}

